.d-i {
  display: inline
}

.d-f {
  display: flex
}

.d-t-cl {
  display: table-cell
}

.d-t-c {
  display: table-column
}

.d-t-c-g {
  display: table-column-group
}

.d-t-r-g {
  display: table-row-group
}

.d-t-r {
  display: table-row
}

.d-ig {
  display: inline-grid
}

.d-no {
  display: none
}

.hello {
  display: inline;
  display: flex;
  display: table-cell;
  display: table-column;
  display: table-column-group;
  display: table-row-group;
  display: table-row;
  display: inline-grid;
  display: none
}
