.ob-c {
  -o-object-position: center;
     object-position: center
}

.ob-v {
  -o-object-fit: cover;
     object-fit: cover
}

.ob-rt {
  -o-object-position: right top;
     object-position: right top
}

.ov-h {
  overflow: hidden
}

.ov-s {
  overflow: scroll
}

.ov-x-au {
  overflow-x: auto
}

.ov-y-s {
  overflow-y: scroll
}

.bg-rt {
  background-position: right top
}

.hello {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: right top;
     object-position: right top;
  overflow: hidden;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
  background-position: right top
}
